*.DS_Store
*.log
*.pdf
*.aux
*.synctex.gz
*.blg
*.out
*.toc
*.bbl
*.brf
*.dvi
*~
*.3d
*.pose
*.frames
*.swm
*.swo
*.swp
*.swn
*.o
*.xdv
*.fdb_latexmk
*.fls
*.spl
./tdp/DataSetSim/perfect/*
./tdp/DataSetSim/noisy_pose/*
./tdp/DataSetSim/noisy_pose_and_range/*
*.dat
